@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

$headings-font-weight: 100;
$brand-primary: #576F68;
$gray-lighter: lighten($gray-base, 80%);

h1, h2, h3, h4, h5, h6 {
    font-family: "Abril Fatface";
    color: $brand-primary;
}

h1.page-header {
    border-bottom: none;
}
  
.footer {
    border-top: none;
}
  
nav.tabs {
    margin-bottom: 2em;
}

.logo img {
    width: 70px;
}

.navbar {
    border: none;
    background: none;
    padding-left: 0px;
    padding-right: 0px;
}

a {
    color: $brand-primary;

}

a:hover {
    color: darken($brand-primary, 30%);
}

a.navbar-brand {
    display: none;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 33px;
    color: $gray-dark;
}

body {
    color: $brand-primary;
}

.region-footer {
    font-size: 10px;
    color: $gray-lighter;
}